/**{
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/
html{
  scroll-behavior: smooth;
}

.validaciones{
  font-family: sans-serif;
  color: crimson;
  display: auto;
  text-shadow: 1vw 1vw 1vw 1vw black;
  font-size: 15px;
}

body {font-family: Arial, Helvetica, sans-serif;}

 /* Change styles for span and cancel button on extra small screens */
 /*
 @media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
*/

/*Configuracion de Fuentes y navi*/
* {
    box-sizing: border-box;
  }

.imgtama{
    width: 700px;
}

.centrado{
    text-align: center;
}

.fuentetit {
    font-family: sans-serif;
    color: white;
    text-shadow: 1vw 1vw 1vw black;
    font-size: 10w;
    padding-top: 3vw;
}


@media screen and (max-width:900px){
  .fuentetit{
    display: block;
    font-size: 4vw;
    text-shadow: 1vw 1vw 1vw black;
    color: white;
  }
}

.fuente{
    font-family: sans-serif;
    color: white;
    text-shadow: 1vw darkgray;
    font-size: auto;
}

@media screen and (max-width:900px){
  .fuente{
    font-family: sans-serif;
    color: white;
    text-shadow: 1vw darkgray;
    font-size: 4vw;
  }
}

.fuentenov{
  padding-top: 0vw;
}

@media screen and (max-width:600px){
  .fuentenov{
    padding-top: 50vw;
  }

}

.redes{
    width: 10vw;
    height: 10vw;
    padding: 1vw 1vw;
    margin: 1vw;
}

ul.horizontal li{
    display:block;
    float:left;
    padding:0 10px;
}

/* Botones menu links*/

a:visited{
    color: blue;
}


#boton{
    text-size-adjust: auto;
    display: block;
    font-family: sans-serif;
    border-bottom: none;
    border: none;
    text-transform: uppercase;
    font-weight: 2vw;
    font-size: auto;
    cursor: pointer;
    color: white;
    text-shadow: none;
    background-color: transparent;
}

.boton:hover{
    padding: 1.5vw;
    background-color: lightblue;
}

/* Configuraciones de imagenes */


.fotos:hover{
    padding: 10px;
    background-color: transparent;
}

.fenlaces{
    padding: 10px;
    background-color: transparent;
}

.centrarimg{
    display:block;
    margin:auto;
}

.tamimg{
    width: 90%;
}

@media screen and (max-width:900px){
  .tamimg{
    width: 100%;
    height: 50vw;
  }
}

@media screen and (max-width:600px){
  .tamimg{
    width: 100%;
    height: 50vw;
  }
}

.imglarga{
  width: 100%;
}

@media screen and (max-width:900px){
.imglarga{
  width: 100%;
  height: 50vw;
}
}

@media screen and (max-width:600px){
  .imglarga{
    width: 100%;
    height: 50vw;
  }
}

/* Formato Fondo*/

body {
    background-color: lightblue;
    width: 100%;
    height: 50vw;
    padding: 0vw;
    padding-right: 0vw;
    margin: 0vw;
} 

@media screen and (max-width:1000px){
  body{
    background-color: lightblue;
    width: auto;
    height: 100vw;
    padding: 0vw;
    padding-right: 0vw;
    margin: 0vw;
  }
}

/* Fondos de Colores para divs*/

#navi{
    width: 100%;
    height: 4vw;
    padding-top: 0.5vw;
    background-color:skyblue;
}

#titulo{  
    width: 100%;
    height: 15vw;
    background-color: teal;
    padding-top: 1vw;
    padding-bottom: 4vw;
}

@media screen and (max-width:900px){
  #titulo{
    display: block;
    width: 100%;
    height: 20vw;
    background-color: teal;
    padding-top: 1vw;
    padding-bottom: 2vw;
  }
}

#contenido{
    width: 50%;
    height: 30vw;
    padding-top: 0;
    background-color: goldenrod;
    float: left;
    clear:both;
}

#contenido2{
    width: 100%;
    height: 10vw;
    padding-bottom: 10vw;
    padding-top: 2vw;
    background-color: transparent;
}

@media screen and (max-width:1000px){
  #contenido2{
    width: 100%;
    height: 20vw;
    padding-bottom: 5vw;
    padding-top: 2vw;
    background-color: transparent;

  }
}

#enlaces{
    width: 100%;
    height: auto;
    background-color: #333;

    
}

@media screen and (max-width:1000px){
  #enlaces{
    width: 100%;
    height: auto;
    background-color: #333;

  }
}

@media screen and (max-width:600px){
  #enlaces{
    width: 100%;
    height: auto;
    background-color: #333;
    float: top;
    padding-top: 1vw;
  }
}

#page-container {
  position: relative;
  min-height: 100vh;
  background-color: lightblue;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}



/*barra de navegacion*/

 /* Add a black background color to the top navigation */
 .topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /*top nav chiquita*/
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
  /* icono de inicio chiquito*/
   /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* Hamburger nav bar*/
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  } 

  section{
    padding: 50px 0 0;
  }

  .card {
    position: relative;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 5);
  }

  @media screen and (max-width: 900px) {
    .card{
      position: relative;
      height: 400px;
      overflow: hidden;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 5);
      margin-top: 20vw;
    }
  }

  .card.post-image
  {
    height: 300px;
    overflow: hidden;
  }

  @media screen and (max-width:900px){
    .card.post-image{
      height: 100px;
      overflow: hidden;
    }
  }
  .card:hover .post-image img
  {
    transform: scale(1.2);
  }

  @media screen and (max-width:900px){
    .card:hover .post-image img{
      transform: scale(1.2);
    }
  }

  .card .news-content{
    position: absolute;
    bottom: -160px;
    padding: 20px;
    background: #fff;
    transition: .5s;
  }

  @media screen and (max-width:900px){
    .card .news-content{
      position: absolute;
      bottom: -160px;
      padding: 20px;
      background: #fff;
      transition: .5s;
    }
  }
  
  .card:hover .news-content
  {
    bottom: 0px;
  }

  @media screen and (max-width:900px){
    .card:hover.news-content{
      bottom: 0px;
    }
  }

  .card .category
  {
    position: absolute;
    top: -30px;
    left: 0;
    height: 30px;
    background: #00B8F4;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: bold;
    transition: .5s;
  }

  @media screen and (max-width:900px){
    .card.category{
      position: absolute;
      top: -30px;
      left: 0;
      height: 10px;
      background: #00B8F4;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      padding: 1px 10px;
      font-size: 5vw;
      font-weight: bold;
      transition: .5s;
    }
  }


  .card .news-content .post-meta a
  {
    text-decoration: none;
    padding-right: 10px;
    color: #262626;
    font-weight: bold;
    transition: .5s;
  }

  @media screen and (max-width:900px){
    .card .news-content .post-meta a{
      text-decoration: none;
      padding-right: 5px;
      color: #262626;
      font-weight: bold;
      transition: .5s;
    }
  }
  
  .card .news-content .post-meta a:hover
  {
    color: #DF084A;
  }

  @media screen and (max-width:900px){
    .card .news-content .post-meta a:hover{
      color: #DF084A;
    }
  }


  .card .news-content .post-header
  {
    margin: 0;
    padding: 10px 0;
    color: #007DA6;
    height: 75px;
    font-size: 28px;
    overflow: hidden;
  }

  @media screen and (max-width:900px){
    .card .news-content .post-header{
      margin: 0;
      padding: 5px 0;
      color: #007DA6;
      height: 15vw;
      font-size: 5vw;
      overflow: hidden;
    }
  }

  .card .news-content p
  {
    font-size: 16px;
    margin: 10px 0 0;
    padding: 0;
    color: #262626;
    transition: .5s;
    opacity: 0;
  }

  @media screen and (max-width:900px){
    .card .news-content p{
      font-size: 4vw;
      margin: 5px 0 0;
      padding: 0;
      color: #262626;
      transition: .5s;
      opacity: 0;
    }
  }

  .card:hover .news-content p
  {
    opacity: 1;
  }

  @media screen and (max-width:900px){
    .card:hover .news-content p{
      opacity: 1;
    }
  }

  .back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
  }

  @media screen and (max-width:900px){
    .back-to-top{
      position: fixed;
      bottom: 25px;
      right: 25px;
      display: none;
    }
  }


  .back{
    background-color: lightblue;
  }


  .mpclean{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}