table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

main form {
text-align: center;
padding: 10px;

}

p {
padding: 10px;
}

ul.errorlist {
    visibility: hidden;
}