{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Juegos Tendencia </title>
    <link rel="stylesheet" href="{% static '/CSS/style.css' %}" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

</head>

<body>
    <!-- Titulo pagina -->
    <div id="titulo">
        <div id="centrartit">
            <img class="img-fluid centrarimg" src="{% static '/fotospag/juegos tendencia.png' %}">
        </div>
    </div>

    <div class="topnav" id="myTopnav">
        <a href="/">Inicio</a>
        <a href="informacion.html">Informacion</a>
        <a href="galeria.html">Galeria</a>
        <a href="cuenta.html" class="btn active">Mi Cuenta</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div id="page-container">
        <div id="content-wrap">
            {% block principal %}
            <form method="post">
                <h1>Restablecer Contraseña</h1>
                <br>
                <br>
                {% csrf_token %}
                {{ form }}
                <br>
                <br>
                <input type="submit" value="Enviar" class="send">
            </form>
            {% endblock %}
        </div>
        <img class="centrarimg imglarga"
            src="https://2.bp.blogspot.com/-ywpR8iJDqKY/VW7RkvGPg4I/AAAAAAAACp8/uJib0mtK1GY/s1600/200.gif" alt="gif">
    </div>
    </div>
    </div>




    <!--Enlaces-->
    <div id="enlaces" class="centrado footer">
        <h2 class="fuente"> Enlaces Relacionados </h2>
        <a title="facebook" href="https://www.facebook.com/" target="_blank"><img class="redes"
                src="{% static '/fotospag/fb.png' %}" alt="facebook"></a>
        <a title="twitter" href="https://twitter.com/" target="_blank"><img class="redes"
                src="{% static '/fotospag/twitter.png' %}" alt="twitter"></a>
        <a tittle="steam" href="https://store.steampowered.com/?l=spanish" target="_blank"><img class="redes"
                src="{% static '/fotospag/steam.png' %}" alt="steam"></a>
    </div>

    <a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button"><i
            class="fas fa-chevron-up"></i></a>

    <div class="back">
        Fecha
        <script type="text/javascript">
            showDate();
        </script>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>
    <script src="{% static 'JS/navbar.js' %}"></script>
    <script src="{% static 'JS/validacion.js' %}"></script>

    <script src="https://kit.fontawesome.com/3cb656bd1a.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.js"></script>

</body>

</html>