{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Juegos Tendencia </title>
  <link rel="stylesheet" href="{% static '/CSS/style.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static '/CSS/galeria.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>
  <script src="{% static '/JS/navbar.js' %}"></script>
  <script src="{% static '/JS/funciones.js' %}"></script>
  <script src="https://kit.fontawesome.com/3cb656bd1a.js" crossorigin="anonymous"></script>

</head>

<body>
  <!-- Titulo pagina -->
    <div id="titulo">
      <div id="centrartit">
          <img class= "img-fluid centrarimg" src="{% static '/fotospag/juegos tendencia.png' %}">
      </div>
    </div>

  <!-- Links del contenido de la pagina-->
    <div class="topnav" id="myTopnav">
        <a href="/">Inicio</a>
        <a href="informacion.html">Informacion</a>
        <a href="galeria.html" class="btn active">Galeria</a>
        <a href="cuenta.html">Mi Cuenta</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

  
<div class="contenido2">

  <div id="page-container">
    <div id="content-wrap">
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static '/fotospag/among.jpg' %}">
            <img src="{% static '/fotospag/among.jpg' %}" alt="among" width="600" height="400">
          </a>
          <div class="desc">Among Us​ es un videojuego modo fiesta multijugador en línea desarrollado por InnerSloth y
            lanzado el 15 de junio de 2018. El juego tiene un grupo de jugadores a bordo de una nave espacial, cada uno
            de
            los cuales asume uno de los dos roles, la mayoría son compañeros de tripulación y algunos son impostores.
          </div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static '/fotospag/fall.jpg' %}">
            <img src="{% static '/fotospag/fall.jpg' %}" alt="FallGuys" width="600" height="400">
          </a>
          <div class="desc">Fall Guys: Ultimate Knockout es un plataformas multijugador masivo tipo party con hasta 60
            jugadores online a cargo de Mediatonic y Devolver Digital para PC y PlayStation 4, en un enfrentamiento
            todos
            contra todos que se desarrolla ronda tras ronda entre un caos creciente hasta que solo queda un único
            vencedor.
          </div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static '/fotospag/lol.jpg' %}">
            <img src="{% static '/fotospag/lol.jpg' %}" alt="LeagueOfLegends" width="600" height="400">
          </a>
          <div class="desc">League of Legends es un juego de estrategia por equipos en el que dos equipos de cinco
            campeones
            se enfrentan para ver quién destruye antes la base del otro. Elige de entre un elenco de 140 campeones para
            realizar jugadas épicas, asesinar rivales y derribar torretas para alzarte con la victoria.</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static '/fotospag/mmaker.jpg' %}">
            <img src="{% static '/fotospag/mmaker.jpg' %}" alt="MarioMaker" width="600" height="400">
          </a>
          <div class="desc">Super Mario Maker 2 (スーパーマリオメーカー 2 Sūpā Mario Mēkā 2) es un videojuego de plataformas y de
            creación de niveles, desarrollado y publicado por Nintendo para Nintendo Switch. Es la secuela de Super
            Mario
            Maker trayendo nuevas funciones al juego y salió a la venta el 28 de junio de 2019 en todo el mundo.</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static '/fotospag/valo.jpg' %}">
            <img src="{% static '/fotospag/valo.jpg' %}" alt="valorant" width="600" height="400">
          </a>
          <div class="desc">Valorant es un juego de disparos en primera persona en el que dos equipos de cinco jugadores
            se
            enfrentan entre ellos. Además de los consabidos tiros, el objetivo de las partidas es colocar un dispositivo
            llamado Spike en una zona concreta del mapa.</div>
        </div>
      </div>


      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static '/fotospag/human.jpg' %}">
            <img src="{% static '/fotospag/human.jpg' %}" alt="humanfallflat" width="600" height="400">
          </a>
          <div class="desc">Human: Fall Flat es un estrafalario juego abierto de exploración y rompecabezas basado en la
            física y ambientado en flotantes paisajes oníricos. Tu objetivo es escapar de los surrealistas sueños
            resolviendo rompecabezas con la sola ayuda de tu ingenio y de la física.</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static '/fotospag/mariokart.jpg' %}">
            <img src="{% static '/fotospag/mariokart.jpg' %}" alt="mariokart" width="600" height="400">
          </a>
          <div class="desc">Es una versión ampliada de Mario Kart 8 para Wii U que contiene el juego completo junto con
            su
            contenido descargable y mayor definición de imagen. En esta edición para Nintendo Switch podrás jugar a
            Mario
            Kart en Alta Definición tanto en tu TV como en el modo portátil por primera vez en la saga.</div>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{% static '/fotospag/minecraft.png' %}">
            <img src="{% static '/fotospag/minecraft.png' %}" alt="minecraft" width="600" height="400">
          </a>
          <div class="desc">Minecraft es un videojuego de construcción, de tipo «mundo abierto» o sandbox creado
            originalmente por el sueco Markus Persson (conocido comúnmente como "Notch"),​ y posteriormente desarrollado
            por
            su empresa, Mojang AB.</div>
        </div>
      </div>
    </div>
  </div>
  
</div> 

  <div class="clearfix back"></div>

  <!--Enlaces-->
  <div id="enlaces" class="centrado footer">
    <h2 class="fuente"> Enlaces Relacionados </h2>
    <a title="facebook" href="https://www.facebook.com/" target="_blank"><img class="redes" src="{% static '/fotospag/fb.png' %}"
        alt="facebook"></a>
    <a title="twitter" href="https://twitter.com/" target="_blank"><img class="redes" src="{% static '/fotospag/twitter.png' %}"
        alt="twitter"></a>
    <a tittle="steam" href="https://store.steampowered.com/?l=spanish" target="_blank"><img class="redes"
        src="{% static '/fotospag/steam.png' %}" alt="steam"></a>
  </div>

  <a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button"><i
      class="fas fa-chevron-up"></i></a>

  <div class="back">
    Fecha
    <script type="text/javascript">showDate();</script>
  </div>
</body>


</html>