{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Juegos Tendencia </title>
    <link rel="stylesheet" href="{% static '/CSS/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/OwlCarousel2-2.3.4/dist/assets/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static '/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>
    <script src="{% static '/OwlCarousel2-2.3.4/docs/assets/vendors/jquery.min.js' %}"></script>
    <script src="{% static '/OwlCarousel2-2.3.4/dist/owl.carousel.js' %}"></script>
    <script src="{% static '/JS/navbar.js' %}"></script>
    <script src="https://kit.fontawesome.com/3cb656bd1a.js" crossorigin="anonymous"></script>
    
    {% load pwa %}

    {% progressive_web_app_meta %}

</head>

<body>
    {% if messages %}
    <ul class="messages bg-warning font-weight-bold" style="margin-bottom: 0px; list-style-type: none;">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <!-- Titulo pagina -->
    <div id="titulo">
        <div id="centrartit">
            <img class= "img-fluid centrarimg" src="{% static '/fotospag/juegos tendencia.png' %}">
        </div>
    </div>

    <!-- Links del contenido de la pagina-->

    <div class="topnav" id="myTopnav">
        <a href="/" class="btn active">Inicio</a>
        <a href="informacion.html">Informacion</a>
        <a href="galeria.html">Galeria</a>
        <a href="cuenta.html">Mi Cuenta</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>


    <!---------------------------------------->

    <!-- algunas imagenes de portada para la pagina-->
    <div id="page-container">
        <div id="content-wrap">
            <div id="contenido2">
                <!-- Carucel de 3 fotos-->
                <div class="owl-carousel owl-theme active">

                    <div class="item img fotos tamimg"><a href="https://store.steampowered.com/app/945360/Among_Us/"
                            target="_blank"><img src="{% static '/fotospag/among.jpg' %}" class="img-fluid" alt="1"></a>
                    </div>
                    <div class="item img fotos tamimg"><a
                            href="https://store.steampowered.com/app/1097150/Fall_Guys_Ultimate_Knockout/"
                            target="_blank"><img src="{% static '/fotospag/fall.jpg' %}" class="img-fluid" alt="2"></a>
                    </div>
                    <div class="item img fotos tamimg"><a
                            href="https://store.steampowered.com/app/477160/Human_Fall_Flat/" target="_blank"><img
                                src="{% static '/fotospag/human.jpg' %}" class="img-fluid" alt="3"></a>
                    </div>
                    <div class="item img fotos tamimg"><a href="https://na.leagueoflegends.com/es-ar/"
                            target="_blank"><img src="{% static '/fotospag/lol.jpg' %}" class="img-fluid" alt="4"></a>
                    </div>
                    <div class="item img fotos tamimg"><a href="https://playvalorant.com/en-us/" target="_blank"><img
                                src="{% static '/fotospag/valo.jpg' %}" class="img-fluid" alt="5"></a>
                    </div>
                    <div class="item img fotos tamimg"><a href="https://treeofsavior.com/page/main/"
                            target="_blank"><img src="{% static '/fotospag/tree.jpeg' %}" class="img-fluid" alt="5"></a>
                    </div>
                    <div class="item img fotos tamimg"><a href="https://mariokart8.nintendo.com/es/"
                            target="_blank"><img src="{% static '/fotospag/mariokart.jpg' %}" class="img-fluid" alt="5"></a>
                    </div>
                    <div class="item img fotos tamimg"><a href="https://supermariomaker.nintendo.com/es/"
                            target="_blank"><img src="{% static '/fotospag/mmaker.jpg' %}" class="img-fluid" alt="5"></a>
                    </div>

                </div>
                <script src="{% static '/JS/funciones.js' %}"></script>
            </div>
        </div>
 

    <!--Inicio Juegos-->
        <section>
            <div class="fuentenov">
                <h2 class="fuenteact centrado"> Novedades </h2>
            </div>
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card">
                                <div class="post-image">
                                    <img src="{% static '/fotospag/noti-among.jpg' %}" class="img-fluid">
                                </div>
                                <div class="news-content">
                                    <span class="category">Juegos</span>
                                    <div class="post-meta">
                                        <span class="author">
                                            <a href="#">
                                                <i class="fas fa-user"></i>
                                                Anonimo
                                            </a>
                                        </span>
                                        <span class="time">
                                            <a href="#">
                                                <i class="far fa-clock"></i>
                                                Aug 7, 2020
                                            </a>
                                        </span>
                                        <span class="comments pull-right">
                                            <a href="#">
                                                <i class="far fa-comment-dots"></i>
                                                12
                                            </a>
                                        </span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <h2 class="post-header">
                                        Nueva actualizacion de Among Us!
                                    </h2>
                                    <p>InnerSloth, estudio de desarrollo encargado de Among Us!,
                                        tiene grandes planes pensados para el futuro del videojuego.
                                        Después de un éxito que nadie vio venir,
                                        sus creadores han trazado la hoja de ruta para el título de cara a garantizar la
                                        mejor experiencia de juego posible.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <div class="post-image">
                                    <img src="{% static '/fotospag/noti-valorant.jpg' %}" alt="imagen" class="img-fluid">
                                </div>
                                <div class="news-content">
                                    <span class="category">Juegos</span>
                                    <div class="post-meta">
                                        <span class="author">
                                            <a href="#">
                                                <i class="fas fa-user"></i>
                                                Luna
                                            </a>
                                        </span>
                                        <span class="time">
                                            <a href="#">
                                                <i class="far fa-clock"></i>
                                                Sep 23, 2020
                                            </a>
                                        </span>
                                        <span class="comments pull-right">
                                            <a href="#">
                                                <i class="far fa-comment-dots"></i>
                                                100
                                            </a>
                                        </span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <h2 class="post-header">
                                        Primer torneo de Valorant oficial!
                                    </h2>
                                    <p>Según se ha confirmado, First Strike será el primer torneo oficial de Valorant
                                        organizado por Riot Games, este contará con diversas finales regionales para
                                        Norteamérica, Europa, CIS, Turquía, Asia, Oceanía, Brasil y el Medio Este.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <div class="post-image">
                                    <img src="{% static '/fotospag/noti-lol.jpg' %}" alt="imagen" class="img-fluid">
                                </div>
                                <div class="news-content">
                                    <span class="category">Juegos</span>
                                    <div class="post-meta">
                                        <span class="author">
                                            <a href="#">
                                                <i class="fas fa-user"></i>
                                                Anonimo3
                                            </a>
                                        </span>
                                        <span class="time">
                                            <a href="#">
                                                <i class="far fa-clock"></i>
                                                Sep 23, 2020
                                            </a>
                                        </span>
                                        <span class="comments pull-right">
                                            <a href="#">
                                                <i class="far fa-comment-dots"></i>
                                                50
                                            </a>
                                        </span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <h2 class="post-header">
                                        Notas del parche League of Legends!
                                    </h2>
                                    <p>League of Legends llega a la versión 10.20 en el PBE,
                                        el servidor de pruebas donde Riot Games realiza los cambios y los testea antes
                                        de lanzarlos al juego.
                                        En esta ocasión, los ajustes estarán durante una semana hasta el lanzamiento
                                        oficial del parche 10.20
                                        para el próximo 30 de septiembre.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>   
    </div>

    <div class="back text-center">
        <p>Añade nuestra pagina a favoritos!</p>
        <a href="javascript:window.external.AddFavorite('http://www.yoursite.com', 'Juegos Tendencia')"><button class="btn btn-success">Añadir a
            favoritos</button></a>
    </div>


    <!--Enlaces-->
    <div id="enlaces" class="centrado footer">
        <h2 class="fuente"> Enlaces Relacionados </h2>
        <a title="facebook" href="https://www.facebook.com/" target="_blank"><img class="redes" src="{% static '/fotospag/fb.png' %}"
                alt="facebook"></a>
        <a title="twitter" href="https://twitter.com/" target="_blank"><img class="redes" src="{% static '/fotospag/twitter.png' %}"
                alt="twitter"></a>
        <a tittle="steam" href="https://store.steampowered.com/?l=spanish" target="_blank"><img class="redes"
                src="{% static '/fotospag/steam.png' %}" alt="steam"></a>
    </div>

    <!--Back to top-->
    <a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button"><i
        class="fas fa-chevron-up"></i></a>
    
    <!--Fecha-->
    <div class="back">
    Fecha
    <script type="text/javascript">showDate();</script>
        </div>
</body>

</html>