{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Juegos Tendencia </title>
    <link rel="stylesheet" href="{% static '/CSS/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>
    <script src="JS/navbar.js"></script>
    <script src="JS/funciones.js"></script>
    <script src="https://kit.fontawesome.com/3cb656bd1a.js" crossorigin="anonymous"></script>

</head>

<body>

     <!-- Titulo pagina -->
     <div id="titulo">
        <div id="centrartit">
            <img class= "img-fluid centrarimg" src="{% static '/fotospag/juegos tendencia.png' %}">
        </div>
    </div>

    <!-- Links del contenido de la pagina-->


    <div class="topnav" id="myTopnav">
        <a href="/">Inicio</a>
        <a href="informacion.html" class="btn active">Informacion</a>
        <a href="galeria.html">Galeria</a>
        <a href="cuenta.html">Mi Cuenta</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <!---------------------------------------->

    <!--Suscripcion con ficha de registro y la chingadaaaaahhh-->
    <div id="page-container">
        <div id="content-wrap">
            <div class="contenido2">
                <br>
                <h2 class="fuenteact centrado"> Suscribete a nuestra pagina! </h2>
                <br>
                <p class="fuenteact text-center"> Suscribete a nuestra pagina una vez registrado para que puedas
                    recibir notificaciones acerca de los parches, eventos, contenido de cada juego,
                    tambien avisos de juegos en beta privada.
                    Ademas, podras obtener beneficios y ¡muchas sorpresas mas!
                </p>
                <br>
                <h2 class="fuenteact centrado"> Actualidad </h2>
                <br>
                <ul>
                    <div class="fuenteact">
                        <li>
                            <h3>Rocket League: Desde ahora es gratis para todos gracias a Epic Games!</h3>
                        </li>
                        <img class="img-fluid imgtama" src="{% static '/fotospag/rocketepic.jpg' %}" alt="n1">
                    </div>
                    <div class="fuenteact">
                        <li>
                            <h3>Al parecer Xbox ha comprado SEGA en secreto... ¿Seran ciertos los rumores?</h3>
                        </li>
                        <img class="img-fluid imgtama" src="{% static '/fotospag/segaxbox.jpg' %}" alt="n2">
                    </div>
                    <div class="fuenteact">
                        <li>
                            <h3>¿Faker es Malisimo en Among us?</h3>
                        </li>
                        <img class="img-fluid imgtama" src="{% static '/fotospag/faker-t1.jpg' %}" alt="n2">
                    </div>
                    <div class="fuenteact">
                        <li>
                            <h3>League of legends y Fornite en la mira de Trump</h3>
                        </li>
                        <img class="img-fluid imgtama" src="{% static '/fotospag/fortnite_lol.jpg' %}" alt="n2">
                    </div>
                    <div class="fuenteact">
                        <li>
                            <h3>Among us: Luego de 2 años el juego se vuelve furor en el mundo y gracias a los
                                influencers</h3>
                        </li>
                        <img class="img-fluid imgtama" src="{% static '/fotospag/furoramong.jpg' %}" alt="n2">
                    </div>
                </ul>
            </div>
        </div>
    </div>


    <!--Enlaces-->

    <div id="enlaces" class="centrado footer">
        <h2 class="fuente"> Enlaces Relacionados </h2>
        <a title="facebook" href="https://www.facebook.com/" target="_blank"><img class="redes" src="{% static '/fotospag/fb.png' %}"
            alt="facebook"></a>
        <a title="twitter" href="https://twitter.com/" target="_blank"><img class="redes" src="{% static '/fotospag/twitter.png' %}"
            alt="twitter"></a>
        <a tittle="steam" href="https://store.steampowered.com/?l=spanish" target="_blank"><img class="redes"
            src="{% static '/fotospag/steam.png' %}" alt="steam"></a>
    </div>

    <!--Back to top-->
    <a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button"><i
        class="fas fa-chevron-up"></i></a>
    
    <!--Fecha-->
    <div class="back">
    Fecha
    <script type="text/javascript">showDate();</script>
        </div>
</body>


</html>