{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Juegos Tendencia - Offline Mode </title>
    <link rel="stylesheet" href="{% static '/CSS/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/OwlCarousel2-2.3.4/dist/assets/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static '/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>
    <script src="{% static '/OwlCarousel2-2.3.4/docs/assets/vendors/jquery.min.js' %}"></script>
    <script src="{% static '/OwlCarousel2-2.3.4/dist/owl.carousel.js' %}"></script>
    <script src="{% static '/JS/navbar.js' %}"></script>
    <script src="https://kit.fontawesome.com/3cb656bd1a.js" crossorigin="anonymous"></script>
    
    {% load pwa %}

    {% progressive_web_app_meta %}

</head>

<body>

    {% if messages %}
    <ul class="messages bg-warning font-weight-bold" style="margin-bottom: 0px; list-style-type: none;">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <!-- Titulo pagina -->
    <div id="titulo">
        <div id="centrartit">
            <img class= "img-fluid centrarimg" src="{% static '/fotospag/juegos tendencia.png' %}">
        </div>
    </div>

    <!-- Links del contenido de la pagina-->

    <div class="topnav" id="myTopnav">
        <a href="/" class="btn active">Inicio</a>
        <a href="informacion.html">Informacion</a>
        <a href="galeria.html">Galeria</a>
        <a href="cuenta.html">Mi Cuenta</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <h3>No tienes internet por favor revisa tu conexion</h3>

   
</body>

</html>